$max-width: rem($screen-md-min / 8) * 5;

.c-layout {
  max-width: $max-width;
  margin-left: auto;
  margin-right: 0;
  position: relative;

  &.c-layout--columns {
    margin-left: auto;
    margin-right: ($sidebar-width + ($spacing * 2));

    .c-layout__main {
      margin-left: auto;
      margin-right: ($sidebar-width + ($spacing * 2));
      max-width: $max-width;
      width: calc(100vw - #{$sidebar-width + ($body-padding * 2) + ($spacing * 2)});
    }

    .c-layout__sidebar {
      left: calc(100% + #{$spacing * 2});
      margin-top: 0;
      position: absolute;
      top: 0;
      width: $sidebar-width;

      &--locked {
        left: auto;
        position: fixed;
        right: $body-padding;
      }
    }
  }
}
