.c-layout
  block content
    section.c-layout__main.js-main
      block main
        include ../content/_about
        include ../content/_skill
        include ../content/_work

    section.c-layout__sidebar.js-sidebar
      block sidebar
        include ../content/_contact
