header.s-header.js-header
  //- button.c-button.c-button--nav
  nav
    ul.c-nav
      li.c-nav-item.c-nav-item--title <span class='u-hidden--xs'>brandon</span><span class='u-hidden--sm u-hidden--md u-hidden--lg'>b.</span> kennedy
      li.c-nav-item
        a.c-link.t-history.js-nav-item(href="#about") history
      li.c-nav-item
        a.c-link.t-skill.js-nav-item(href="#skill") skills
      li.c-nav-item
        a.c-link.t-work.js-nav-item(href="#work") work
      li.c-nav-item
        a.c-link.t-contact.js-nav-item(href="#contact") contact
  .c-nav-indicator
    .c-nav-indicator__item.t-history.js-nav-indicator-item.js-history
    .c-nav-indicator__item.t-skill.js-nav-indicator-item.js-skill
    .c-nav-indicator__item.t-work.js-nav-indicator-item.js-work
    .c-nav-indicator__item.t-contact.js-nav-indicator-item.js-contact
