//- Base info about the site
meta(charset='utf-8')
meta(http-equiv='cleartype', content='on')
//- allows IE mobile to smooth fonts
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='title', content='Brandon Kennedy')
meta(name='description', content='I build the pretty parts of the internet')

//- mobile specific
//- used by older palm & blackberry devices
meta(name='HandheldFriendly', content='True')
//- used by microsoft
meta(name='MobileOptimized', content='320')
//- supported by most modern smartphones, lists different settings for displaying the page on the phone
meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
//- Iphone specific
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

//- styles
link(rel='stylesheet', href='styles/index.min.css')

//- scripts
script(src='js/index.min.js')
