@mixin buildTheme($class, $color) {
  // theme text color
  .c-button,
  .c-link,
  .o-list-item:before {
    .#{$class} & {
      color: $color;
    }
  }
  
  .c-link:hover {
    text-shadow: 0 0.2rem 0 color(white);
  }

  // theme background color
  .c-nav-indicator__item.#{$class} {
    background-color: $color;
  }

  // theme border color
  .#{$class} .c-section__header,
  .c-nav-item .c-link.#{$class} {
    border-color: $color;
  }

  // svg links
  .c-link svg {
    fill: $color;
    transition: $transition;
  }

  .c-link:hover svg {
    filter: drop-shadow(0 0.2rem 0 white);
  }
}
