// about me section
section#about.c-section.t-history
  .c-section__content.js-section-content(data-indicator='js-history')
    //- heading
    header.c-section__header
      h1.c-heading history
    main.c-section__main
      //- 3 paragraphs
      p Lorem ipsum dolor sit amet, ea sit facilisis explicari deterruisset. Quod urbanitas per at, hinc omnium blandit ea eos. Pro id facer sanctus, congue oportere at mel. Ei sint pertinacia definiebas cum. Eu eum omnis similique, saepe quando omittantur sea ea, ex denique forensibus mei.
      p Ei eam prima nobis, vis te nostro aliquam persequeris, quo nulla nominavi ea. Mei dolorem forensibus no, posse accusata mnesarchum at pro, usu nostrud diceret ea. Vel omnium epicurei vituperatoribus te. Per ei brute justo inani, ei his detraxit assueverit, ludus incorrupte ea ius. Utinam ignota oporteat quo id, ex movet discere vim, amet epicurei per cu.
      p Inani tincidunt voluptatibus ex vim. Quando regione sed id. Illum tritani fabellas et est, ea bonorum vocibus corrumpit mei, elit probo ea sed. Pri reque simul doctus ea, novum necessitatibus in usu. Cu sumo reque idque sea.
      //- unordered list (about 10 items)
      ul.o-list.t-history
        li.o-list-item Lorem ipsum dolor sit amet, ea sit facilisis explicari deterruisset.
        li.o-list-item Quod urbanitas per at, hinc omnium blandit ea eos.
        li.o-list-item Pro id facer sanctus, congue oportere at mel.
        li.o-list-item Ei sint pertinacia definiebas cum.
        li.o-list-item Eu eum omnis similique, saepe quando omittantur sea ea, ex denique forensibus mei.
        li.o-list-item Ei eam prima nobis, vis te nostro aliquam persequeris, quo nulla nominavi ea.
        li.o-list-item Mei dolorem forensibus no, posse accusata mnesarchum at pro, usu nostrud diceret ea.
        li.o-list-item Vel omnium epicurei vituperatoribus te.
        li.o-list-item Per ei brute justo inani, ei his detraxit assueverit, ludus incorrupte ea ius.
        li.o-list-item Utinam ignota oporteat quo id, ex movet discere vim, amet epicurei per cu.
      //- sub-heading
      h2.c-heading.c-heading--sub what do i want?
      //- 1 paragraph (short)
      p Ex has dicant impedit. Ubique facilisi aliquando usu ex. Possim alterum vituperata at pro. Ex eleifend voluptatibus sea.