section#contact.c-section.t-contact
  .c-section__content.js-section-content(data-indicator='js-contact')
    header.c-section__header
      h1.c-heading contact
    main.c-section__main
      .c-contact
        h3.c-contact__item brandon kennedy
        h3.c-contact__item 336.307.9213 <small>(leave a message)</small>
        h3.c-contact__item
          a.c-link(href='#') laxtwentyone@gmail.com

      p Feel free to follow me on social media. But be warned, I lead a pretty exciting life of raising children and not updating my social media sites unless they do something I find hilarious. I do try to post a lot of UI ideas to codepen though, so that one is pretty good. And my twitter is almost exclusively used to share my codepen work. 

      .o-flex.o-flex--justify
        a.c-link(href='http://codepen.io/brandonkennedy/', target='_blank')
          include ../icons/_codepen
        a.c-link(href='https://twitter.com/brandontkennedy', target='_blank')
          include ../icons/_twitter
        a.c-link(href='https://www.facebook.com/brandon.kennedy.1422', target='_blank')
          include ../icons/_facebook
