section#contact.c-section.t-contact
  .c-section__content.js-section-content(data-indicator='js-contact')
    header.c-section__header
      h1.c-heading contact
    main.c-section__main
      .c-media
        h3.c-name brandon kennedy
        h3.c-phone 336.307.9213
        h3.c-email
          a.c-link(href='#') laxtwentyone@gmail.com

      //- social media
      p Lorem ipsum dolor sit amet, ea sit facilisis explicari deterruisset. Quod urbanitas per at, hinc omnium blandit ea eos. Pro id facer sanctus, congue oportere at mel. Ei sint pertinacia definiebas cum. Eu eum omnis similique, saepe quando omittantur sea ea, ex denique forensibus mei.

      .o-flex.o-flex--justify
        a.c-link(href='http://codepen.io/brandonkennedy/', target='_blank')
          include ../icons/_codepen
        a.c-link(href='https://twitter.com/brandontkennedy', target='_blank')
          include ../icons/_twitter
        a.c-link(href='https://www.facebook.com/brandon.kennedy.1422', target='_blank')
          include ../icons/_facebook
