//- skills sections
section#skill.c-section.t-skill
  .c-section__content.js-section-content(data-indicator='js-skill')
    //- heading
    header.c-section__header
      h1.c-heading skills
    main.c-section__main
      //- 6 progress bars
      //- 1 paragraph (short)
      p Commune vituperatoribus no vis, cu sonet aliquid quaestio pro. Ut sapientem persecuti vituperatoribus vix, accusata recteque no eos. Et saperet electram ius. Diam apeirian facilisi ut eam.
      //- tools unordered list
      h2.c-heading.c-heading--sub some favorites
      ul.o-list
        li.o-list-item tool 1
        li.o-list-item tool 2
        li.o-list-item tool 3
        li.o-list-item site 1
        li.o-list-item site 2
        li.o-list-item site 3
