//- work samples
section#work.c-section.t-work
  .c-section__content.js-section-content(data-indicator='js-work')
    //- heading w/ more link
    header.c-section__header
      h1.c-heading work
      .c-heading__options
        a.c-button(href="#") see more
    main.c-section__main
      //- codepen embeds (4 - 6)
      .c-embed embed one
        p Lorem ipsum dolor sit amet, ea sit facilisis explicari deterruisset. Quod urbanitas per at, hinc omnium blandit ea eos. Pro id facer sanctus, congue oportere at mel. Ei sint pertinacia definiebas cum. Eu eum omnis similique, saepe quando omittantur sea ea, ex denique forensibus mei.
        p Ei eam prima nobis, vis te nostro aliquam persequeris, quo nulla nominavi ea. Mei dolorem forensibus no, posse accusata mnesarchum at pro, usu nostrud diceret ea. Vel omnium epicurei vituperatoribus te. Per ei brute justo inani, ei his detraxit assueverit, ludus incorrupte ea ius. Utinam ignota oporteat quo id, ex movet discere vim, amet epicurei per cu.
      .c-embed embed two
        p Lorem ipsum dolor sit amet, ea sit facilisis explicari deterruisset. Quod urbanitas per at, hinc omnium blandit ea eos. Pro id facer sanctus, congue oportere at mel. Ei sint pertinacia definiebas cum. Eu eum omnis similique, saepe quando omittantur sea ea, ex denique forensibus mei.
        p Ei eam prima nobis, vis te nostro aliquam persequeris, quo nulla nominavi ea. Mei dolorem forensibus no, posse accusata mnesarchum at pro, usu nostrud diceret ea. Vel omnium epicurei vituperatoribus te. Per ei brute justo inani, ei his detraxit assueverit, ludus incorrupte ea ius. Utinam ignota oporteat quo id, ex movet discere vim, amet epicurei per cu.
      .c-embed embed three
        p Lorem ipsum dolor sit amet, ea sit facilisis explicari deterruisset. Quod urbanitas per at, hinc omnium blandit ea eos. Pro id facer sanctus, congue oportere at mel. Ei sint pertinacia definiebas cum. Eu eum omnis similique, saepe quando omittantur sea ea, ex denique forensibus mei.
        p Ei eam prima nobis, vis te nostro aliquam persequeris, quo nulla nominavi ea. Mei dolorem forensibus no, posse accusata mnesarchum at pro, usu nostrud diceret ea. Vel omnium epicurei vituperatoribus te. Per ei brute justo inani, ei his detraxit assueverit, ludus incorrupte ea ius. Utinam ignota oporteat quo id, ex movet discere vim, amet epicurei per cu.
      .c-embed embed four
        p Lorem ipsum dolor sit amet, ea sit facilisis explicari deterruisset. Quod urbanitas per at, hinc omnium blandit ea eos. Pro id facer sanctus, congue oportere at mel. Ei sint pertinacia definiebas cum. Eu eum omnis similique, saepe quando omittantur sea ea, ex denique forensibus mei.
        p Ei eam prima nobis, vis te nostro aliquam persequeris, quo nulla nominavi ea. Mei dolorem forensibus no, posse accusata mnesarchum at pro, usu nostrud diceret ea. Vel omnium epicurei vituperatoribus te. Per ei brute justo inani, ei his detraxit assueverit, ludus incorrupte ea ius. Utinam ignota oporteat quo id, ex movet discere vim, amet epicurei per cu.
