.u-hidden {
  &--xs {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  &--sm {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      display: none;
    }
  }

  &--md {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      display: none;
    }
  }

  &--lg {
    @media (min-width: $screen-lg-min) {
      display: none;
    }
  }
}
